.env
.env.backup
.php-cs-fixer.cache
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
docker-compose.override.yaml
npm-debug.log
public/css
public/js
yarn-error.log
